# Deny all
*/**

# Allow-only go resources
!*.go
!go.*
!/api/**/*
!/configuration/**/*
!/cron/**/*
!/systeminfo/**/*
!/logging/**/*
!/sync/**/*
!/validate/**/*
!/mail/**/*

# and other resources
!build/**/*
!Makefile
!.git/**/*

