IMPORTER_SSH_KEY_FILE=${HOME}/.ssh/id_rsa
EXPORTER_API_KEY=yourPrivateKeyHere
STAGE=development
NAMESPACE=ecosystem
# use for deployment in remote cluster
# RUNTIME_ENV=remote
#KUBE_CONTEXT_NAME=gke_ces-operations-internal_europe-west3-c_ces-test-troubleshooting