STAGE=development
NAMESPACE=ecosystem

# used for templating a dev-config when STAGE=development
LOG_LEVEL=DEBUG
EXPORTER_HOST=your.exporter.fqdn
EXPORTER_SKIP_VERIFY_TLS=true
MIGRATION_REGULAR_SCHEDULE=0/5 * * * *
MIGRATION_FINAL_TIMESTAMP=
SMTP_SERVER=mailhog
SMTP_PORT=1025
SMTP_TO=test@ces.test

# used for generating ces-importer-secrets with "make apikey-secret"
IMPORTER_SSH_KEY_FILE=${HOME}/.ssh/id_rsa
EXPORTER_API_KEY=yourPrivateKeyHere
MAIL_PASSWORD=yourMailPassword

# use for deployment in remote cluster
#RUNTIME_ENV=remote
#KUBE_CONTEXT_NAME=gke_ces-operations-internal_europe-west3-c_ces-test-troubleshooting