EXPORTER_HOST=localhost
EXPORTER_PORT=7000
EXPORTER_SSH_USER=ces-exporter
EXPORTER_SOURCE=/data/
IMPORTER_PRIVATE_SSH_KEY_PATH=/home/user/.ssh/private_key
IMPORTER_DESTINATION=/temp/migration/dest
IMPORTER_SSH_KEY_FILE=${HOME}/.ssh/id_rsa
MAIL_PASSWORD=yourMailPassword
EXPORTER_API_KEY=yourPrivateKeyHere
STAGE=development
NAMESPACE=ecosystem
# use for deployment in remote cluster
# RUNTIME_ENV=remote
#KUBE_CONTEXT_NAME=gke_ces-operations-internal_europe-west3-c_ces-test-troubleshooting